<style>
  .search-btn{
    background-color: #fe424d;
    color: white;
    border-radius: 50%;
    padding: 0 0.75rem 0 0.75rem;
  }

  .search-btn:hover{
    background-color: #fe424d;
    color: white;
  }  

  .search-input{
    border-radius: 25rem;
    padding: 0.5rem 5rem 0.5rem 6rem;
    font-size: 1rem;
  }

  .navbar-nav a{
    opacity: 0.7;
  }

  .navbar-nav a:hover{
    opacity: 1;
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
    <a class="navbar-brand" href="/listings"><h5 class="mt-1"><b style="font-weight: 800">TravelLust</b></h5></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!-- <a class="nav-link" href="/">Home</a> -->
        <a class="nav-link" href="/listings">Explore</a>
        <a class="nav-link" href="/listings/new">Add new Listing</a>
      </div>

      <!-- Search Option in Navbar -->
      <div class="navbar-nav ms-auto">
        <form class="d-flex">
          <input class="form-control me-2 search-input" type="search" placeholder="Search destinations">
          <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>        
      </div>
      
      <div class="navbar-nav ms-auto">
        <% if(!currUser){ %>
          <a class="nav-link" href="/signup"><b>Sign Up</b></a>
          <a class="nav-link" href="/login"><b>Log In</b></a>          
        <% } %>

        <!-- else condition cannot be used here -->
        
        <% if(currUser){ %>
          <a class="nav-link" href="/logout"><b>Log Out</b></a>
        <% } %>
      </div>      
    </div>    
  </div>
</nav>